.instruction {
  margin-top: 40px;
}
.instructionSmall {
  font-weight: normal;
}

.row {
  margin: auto;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  display: flex;
  .mid {
    width: 90%;
    max-width: 780px;
    margin: 0px 15px;
  }
}

.buttonRow {
  width: 90%;
  max-width: 300px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .button {
    width: 50px;
    height: 50px;
    button {
      width: 100%;
      height: 100%;
      background: none;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin: auto;
        width: 75%;
      }
    }
  }
}
