.lastQuoteCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  max-width: 800px;
  height: 300px;
  background-color: #405970;
  margin: 30px auto;
}
