.divider {
  width: 80%;
  max-width: 1000px;
}
.disclaimer {
  font-style: italic;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
  .formLabel {
    margin-bottom: 10px;
  }
  .formText {
    width: 80%;
    max-width: 600px;
    height: 200px;
    font-size: larger;
    padding: 10px;
    vertical-align: top;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .charCounter {
    margin-bottom: 20px;
  }

  .formSubmit {
    width: 100px;
  }
}
